/*************************start global**********************************/
:root
{
    --main-color: #FF9800;
}
span.color
{
    color:var(--main-color);
}
*
{
    box-sizing: border-box;
}
body
{
    font-family: 'Open Sans', sans-serif;
}

p
{
    line-height: 1.7;
}
h3
{
    margin-top: 0;
}
.clear
{
    clear: both;
}
@media (min-width:992px) 
 {
    h2
    {
        font-size: 35px;
        text-transform: capitalize;
        font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
    }
    .container
    {
        width: 1170px;
        margin: auto;
    }
    .con
    {
        width: 94%;
        margin: auto;
    }
    ul
    {
        margin: 0;
        padding: 0;
    }
    li
    {
        list-style: none;
    }
    /*************************end global**********************************/

    /*************************start bars********************************/

    .bars
    {
        position: fixed;
        top: 45%;
        right: 0;
        z-index: 4;
        overflow: hidden;
        width: 200px;
        
    }
    .bars li
    {
        display:inline-block block;
        
    }
    .bars  div
    {
        float: right;
        margin-bottom: 5px;
    }
    .bars  div.active span:first-of-type
    {
        display: inline-block;
    }
    .bars  div.active span:last-of-type
    {
        width:35px;
        background:var(--main-color);
    }
    .bars  span:first-of-type
    {
        color:var(--main-color);
        margin-right: 5px;
        float: left;
        text-transform: uppercase;
        font-size: 13px;
        margin-top: 4px;
    }
    .bars  span:first-of-type.hide
    {
        display: none;
    }
    .bars  span:last-of-type
    {
        width: 25px;
        height: 4px;
        display: inline-block;
        background-color: black;
        border-radius: 10px;
        transition: width .3s ease-in-out;
    }
    .bars  span:last-of-type
    {

        cursor: pointer;
    }
    .bars  span:last-of-type:hover
    {
        width: 35px;
        background: var(--main-color);
    }
    /*************************end bars********************************/

    /*************************start Contorlbars********************************/
    #contolBar
    {
        position: fixed;
        top:40%;
        z-index: 5;
        transition: transform .5s ease-in-out;
        left: 0;
    }
    #contolBar .na
    {
        float: left;
        background: #ddd;

        overflow: hidden;
        
    }
    #contolBar.hide
    {
        
        transform: translateX(-100%);
    }

    #contolBar .na h2
    {
        font-size: 15px;
        text-align: center;
    }
    #contolBar .na ul
    {

        margin: 20px;
       
        overflow: hidden;
    }
    #contolBar .na li
    {
        font-size: 15px;
        float: left;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: yellow;
        cursor: pointer;
        margin:0 10px;
        border: 2px solid rgba(255, 255, 255, 0);
    }
    #contolBar .na li.active
    {
        transform: scale(1.15);
        border-color: white;
    }
    #contolBar .icon
    {
        float: left;
        background-color: white;
        position: absolute;
        top:45%;
        left:100%;
        width: 30px;
        height: 30px;
        text-align: center;
        cursor: pointer;
    }
    #contolBar .icon i
    {
        line-height: 30px;
        
        font-size: 20px;
    }
    /*************************end Contorlbars********************************/

    /*************************start header********************************/
    #head
    {
        height: 49vw;
        background: url(../imgs/01.jpg);
        background-size: cover;
        color: white;
        background-repeat: no-repeat;
    }
    #head .menu
    {
        display: none;
    }
    #head .op
    {
        background-color: rgba(0, 0, 0, 0.562);
        height: 100%;
    }
   
    #head li a
    {
        cursor: pointer;
    }
    #head li a:hover
    {
        color:var(--main-color);
    }
    #head section
    {
        margin-top: 250px;
        text-align: center;
        text-transform: capitalize;
    }
    #head section h2
    {
        font-size: 40px;
    }
    #head section p
    {
        font-size: 20px;
    }
    
    #head .typed
    {
        font-size: 20px;
        margin-bottom: 20px;
        text-transform: capitalize;
        display: inline-block;
        
    }
    #head .gss
    {
        font-size: 20px;
        color: var(--main-color);
        display: inline-block;
    }
    #head section button
    {
        font-size: 20px;
        padding: 0px 30px;
        height: 40px;
        border: 1px solid var(--main-color);
        background: var(--main-color);
        border-radius: 20px;
        color: white;
        outline:none;
        transition: all .5s ease-in-out ;
    }
    #head section button:hover
    {
        background: rgba(221, 221, 221, 0);
        color: var(--main-color)
    }
    #head section button i
    {
        margin-left: 20px;
    }
    /*************************end header********************************/

    /*************************start about********************************/
    #about
    {
        margin-top: 30px;
        padding-bottom: 50px;
        overflow: hidden;
    }
    #about .ab
    {
        float: left;
        width: 60%;
        margin-top: 60px;
        opacity: 1;
        transition: opacity .5s ease-in-out,transform .5s ease-in-out;
    }
    #about .ab.hide
    {
        opacity: 0;
        transform: translateX(-100px);
    }
    #about .ab h3
    {
        font-size: 30px;
    }
    #about .icons 
    {
        margin-top: 30px;
    }
    #about .icons a
    {
        width: 50px;
        height: 50px;
        background: #444;
        border-radius: 50%;
        position: relative;
        float: left;
        margin-right: 20px;
        text-align:center;
        transition: background-color .3s ease-in-out;
    }
    #about .icons a:hover
    {
        background: var(--main-color);
    }
    #about .icons a i
    {
        font-size: 24px;
        text-align:center;
        color: white;
        margin-top: 13px;
    }
    #about .img
    {
        float: right;
        width: 360px;
        transition: opacity .5s ease-in-out,transform .5s ease-in-out;
    }
    #about .img.hide
    {
        opacity: 0;
        transform: translateX(100px);
    }
    #about .img img
    {
        width: 100%;
    }
    /*************************end about********************************/

    /*************************start education********************************/
    #education
    {
        background-color: #DDD;
        height: 600px;
        overflow: hidden;
    }
    #education .container
    {
        height: 100%;
        overflow: hidden;
    }
    #education .items
    {
        width: 100%;
        height: 80%;
        position: relative;
        padding-top: 25px;
    }
    #education .line::before
    {
        content: '';
        width: 3px;
        height: 77%;
        background-color: var(--main-color);
        position: absolute;
        left:50%
    }
    #education h2
    {
        margin-left: 30px;
        font-size: 30px;
        
        font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
    }
    #education .box
    {
        width: 47%;
        margin-top: 50px;
        background-color: white;
        position: relative;
    }
    #education .box div
    {
        padding: 20px;
    }
    #education .box h3
    {
        color:var(--main-color);
        margin-bottom: 0;
        padding-bottom: 0;
        font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
        font-size: 21px;
        text-transform: uppercase;
    }
    #education .box p:first-of-type
    {
        margin-top: 0;
        padding-top: 0;
        font-size: 13px;
    }
    #education .box p:last-of-type
    {
        margin-top: 0;
        padding-top: 0;
        
    }
    #education .box.one div::before
    {
        content: '';
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-left: 20px solid white;
        border-bottom: 10px solid transparent;
        position: absolute;
        left: 100%;
        background-color: #ddd;
    }
    #education .box.one::before
    {
        content: '';
        width: 20px;
        height: 20px;
        position: absolute;
        border: 2px solid var(--main-color);
        border-radius: 50%;
        left: 104.5%;
        background-color: #ddd;
        z-index: 3;
        top:17px;
    }
    #education .box.two
    {
        float: right;
    }
    #education .box.two div::before
    {
        content: '';
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-right: 20px solid white;
        border-bottom: 10px solid transparent;
        position: absolute;
        left: -3.8%;
        background-color: #ddd;
    }
    #education .box.two::before
    {
        content: '';
        width: 20px;
        height: 20px;
        position: absolute;
        border: 2px solid var(--main-color);
        border-radius: 50%;
        left: -8.1%;
        background-color: #ddd;
        z-index: 3;
        top:17px;
    }
    /*************************end education********************************/

    /*************************start services********************************/
    #services
    {
        min-height: 350px;
        padding: 20px;
    }
    #services .boxs
    {
        
        padding-top: 10px;
        overflow: hidden;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        
    }
    #services .box
    {
        padding-top: 10px;
        background: #444;
        color: white;
        width: 23vw;
        border-radius: 5px;
        min-height:200px ;
        
        transition: transform .5s ease-in-out;
    }
    #services .box.hide
    {
        transform:scale(0,0);
    }
    #services .box .icon i.lef
    {
        transform: rotateY(180deg);
    }
    #services .box .icon i
    {
        font-size: 30px;
        color: var(--main-color);
        transition: transform .5s ease-in-out;
        
    }
    #services  .sel:hover .icon
    {
        transform: rotateY(180deg);
    }
    #services .box .icon
    {
        float: left;
        margin-top: 15px;
        margin-left: 10px;
        transition: transform .5s ease-in-out;
        
        
    }

    #services .box .text
    {
        
        margin-top: 15px;
        margin-left: 10px;
        width: 80%;
        padding-left: 3rem;
        
    }
    #services .box .text h3
    {
        font-size: 24px;
    }
    #services .box .text p
    {
        line-height: 1.5;

    }
    /*************************end services********************************/

    /*************************start skills********************************/
    #skills
    {
        padding: 30px 0;
        background-color: #DDD;
        overflow: hidden;
    }
    #skills  h2
    {
        font-size: 35px;

    }
    #skills .icons
    {
        margin-top: 30px;
    }
    #skills h3
    {
        font-size: 25px;
        padding-top: 10px;
    }

    #skills i
    {
        margin-top: 30px;
        margin-bottom: 50px;
        font-size: 100px;

        text-align:center;
        color:#868E95;
        margin-top: 13px;
        margin-right: 15px;
        transition: color .35s ease-in-out;
    }
    #skills i:hover
    {
        color: var(--main-color);
    }
    #skills .icons div
    {
        margin: 0px 30px 20px 0px;
        float: left;
        width: 100px;
        
    }

    #skills .sec
    {
        transition: opacity .5s ease-in-out ,transform .5s ease-in-out;
        opacity: 1;
    }
    #skills .sec.hide
    {
        transform: translateX(-80px);
        opacity: 0;
    }
    /*************************ends skills********************************/

    /*************************start projects********************************/
    #projects
    {
        padding-top: 15px;
        overflow: hidden;
        padding-bottom: 50px;
    }
  /*  #projects li
    {
        float: left;
        margin-right: 20px;
        padding: 10px;
        border: 2px solid var(--main-color);
        border-radius: 10px;
        cursor: pointer;
        text-transform: capitalize;
    }
    #projects li.active
    {
        background: var(--main-color);
        color: white;
    }
    #projects li:hover
    {
        background: var(--main-color);
        color: white;

    }
    #projects ul
    {
        padding-bottom: 65px;
    }*/
    #projects .boxs
    {
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        flex-wrap: wrap;
        padding-top: 5px;
    }
    #projects .boxs .box
    {
        
        width: 30%;
        height: 176px;
        position: relative;
        overflow: hidden;
        margin-bottom: 40px;
        transition: transform .5s ease-in-out;
    }
    #projects .boxs .box.hide
    {
        transform: scale(0);
    }
    #projects .boxs .box .image
    {
        position: absolute;
        z-index: 3;
        transition: transform .3s ease-in-out;
    }
    #projects .boxs .box:hover .image
    {
        z-index: 1;
        transform: scale(1.1);
    }
    #projects .boxs .box .image.hide
    {
        z-index: 1;
        transform: scale(1.1);
    }
    #projects .boxs .box .details
    {
        width: 100%;
        height: 176px;
        text-align: center;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        background-color:rgba(221, 221, 221, 0.445);
        
        z-index: 2;
    }
    #projects .boxs .box .details a
    {
        transition: background-color .5s ease-in-out,color .5s ease-in-out;
        padding: 15px;
        line-height: 176px;
        border: 1.5px solid var(--main-color);
        font-size: 18px;
        font-weight: bold;
        border-radius: 8px;
        color: var(--main-color);
        cursor: pointer;
        text-decoration: none;
        background: rgba(221, 221, 221, 0.493);
    }
    #projects .boxs .box .details a:hover
    {
        color: rgb(0, 0, 0);
        background-color: var(--main-color);

    }
   
    
    #projects .boxs .box img
    {
        width: 100%;
    }
    /*************************ends projects********************************/
    /*************************start ach********************************/
    #achivments
    {
        height: 400px;
        overflow: hidden;
        position: relative;
        padding: 30px 0;
    }
    #achivments .ac
    {
        position: relative;
       
    }
    #achivments::before
    {
        content: '';
        background-color:var(--main-color) ;
        position: absolute;
        width: 50%;
        height: 95%;
        top: 0;
    }
    #achivments::after
    {
        content: '';
        background-color:#444 ;
        position: absolute;
        width: 50%;
        height: 95%;
        left: 50%;
        top: 0;
    }
    #achivments .ac .boxs
    {
        margin-top: 30px;
        overflow: hidden;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    #achivments .ac .box
    {
        
        padding-top: 10px;
        background: white;
        color: white;
        width: 325px;
        border-radius: 5px;
        min-height:200px ;
        padding-left: 7px;
        z-index: 2;
        position: relative;
        padding:20px;
        transition: transform .5s ease-in-out;
    }
    #achivments .ac .box.hide
    {
        transform:scale(0,0);
    }
    #achivments .ac .box i
    {
        font-size: 40px;
        color: var(--main-color);
        position: absolute;
        left: 47%;
        top: 20px;
    }
    #achivments .ac .box p
    {
        margin-top: 80px;
        color: #707070;
    }
    /*************************end ach********************************/
    /*************************start contact********************************/
    #contact
    {
        background: url(../imgs/contact.png);
        background-size: cover;
        overflow: hidden;
    }
    #contact .op
    {
        background-color: rgba(255, 255, 255, 0.603);
        overflow: hidden;
    }
    #contact .cont
    {
        padding-top: 50px;
        width: 50%;
        margin: auto;
        text-align: center;
        overflow: hidden;
        padding-bottom: 150px ;
    }
    #contact .cont form
    { 
        overflow: hidden;
    }
    #contact .cont div
    {
        float: left;
        width: 50%;
    }
    #contact .cont .tex
    {
        float: right;
        width: 50%;
    }
    #contact .cont div input
    {
        display: block;
        width: 90%;
        background:rgba(0, 0, 0, 0.068);
        border: 1px solid rgb(179, 179, 179);
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 3px;
    }
    #contact .cont div .but
    {
        display: block;
        width: 100%;
        float: right;
        background-color: var(--main-color);
        color: white;
    }
    #contact .cont div textarea
    {
        background:rgba(0, 0, 0, 0.068);
        width: 100%;
        float: right;
        resize: vertical;
        height: 130px;
        margin-bottom: 20px;
    }
    #contact .cont .boxs
    {
        margin-top: 50px;
        display: flex;
        justify-content: space-around;
        overflow: hidden;
        
        width: 100%;
    }
    #contact .cont .box .l
    {
        background-color: black;
        width: 1px;
        height: 70px;
    }
    #contact .cont .boxs .box
    {
        width: 30%;
        overflow: hidden;
        
        float: left;
        text-align: left;
        padding: 20px;
    }
    #contact .cont .boxs .box i
    {
        float: left;
        margin-right: 12px;
        margin-top: 15px;
        font-size: 35px;
        color: var(--main-color);
    }
    #contact .cont .boxs .box p
    {
        margin-top: 0;
        padding-left: 54px;
        color: rgb(117, 116, 116);
        font-size: 12px;
    }
    #contact .cont .boxs .box p:first-of-type
    {
        font-weight: bold;  
        font-size: 15px;
        color: var(--main-color);
        
    }
    /*************************end contact********************************/

    /*************************start footer********************************/
    footer
    {
        background-color: #444;
        color: white;
        height: 40px;
        text-align: center;
        overflow: hidden;
        
        
    }
    footer p
    {
        line-height: 40px;
    }
    /*************************end footer********************************/
}























/* for mobile*/
@media only screen 
and (min-width : 10px) 
and (max-width : 992px)
{
    h2
    {
        font-size: 11vw;
        text-transform: capitalize;
        font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
    }    
    p
    {
        font-size: 4.5vw;
    }  
    .container
    {
        width: 95%;
        margin: auto;
    }
    .con
    {
        width: 100%;
        margin: auto;
    }
    ul
    {
        margin: 0;
        padding: 0;
    }
    li
    {
        list-style: none;
    }
    /*************************end global**********************************/

    /*************************start bars********************************/

    .bars
    {
        position: fixed;
        top: 45%;
        right: 0;
        z-index: 4;
        overflow: hidden;
        width: auto;
        
    }
    .bars li
    {
        display:inline-block block;
        
    }
    .bars  div
    {
        float: right;
        margin-bottom: 5px;
    }
    .bars  div.active span:first-of-type
    {
        display: inline-block;
    }
    .bars  div.active span:last-of-type
    {
        width:35px;
        background:var(--main-color);
    }
    .bars  span:first-of-type
    {
        color:var(--main-color);
        margin-right: 5px;
        float: left;
        text-transform: uppercase;
        font-size: 13px;
        margin-top: 4px;
    }
    .bars  span:first-of-type.hide
    {
        display: none;
    }
    .bars  span:last-of-type
    {
        width: 25px;
        height: 4px;
        display: inline-block;
        background-color: black;
        border-radius: 10px;
        transition: width .3s ease-in-out;
    }
    .bars  span:last-of-type
    {

        cursor: pointer;
    }
    .bars  span:last-of-type:hover
    {
        width: 35px;
        background: var(--main-color);
    }
    /*************************end bars********************************/

    /*************************start Contorlbars********************************/
    #contolBar
    {
        position: fixed;
        top:40%;
        z-index: 5;
        transition: transform .5s ease-in-out;
        left: 0;
    }
    #contolBar .na
    {
        float: left;
        background: #ddd;

        overflow: hidden;
        
    }
    #contolBar.hide
    {
        
        transform: translateX(-100%)
    }

    #contolBar .na h2
    {
        font-size: 4vw;
        text-align: center;
        padding-top: 3vw;
        padding-bottom: 0;
    }
    #contolBar .na ul
    {

        margin: 5vw;
        padding: 3vw;
        overflow: hidden;
    }
    #contolBar .na li
    {
        font-size: 15px;
        float: left;
        width: 6vw;
        height: 6vw;
        border-radius: 50%;
        background: yellow;
        cursor: pointer;
        margin:0 10px;
        border: 2px solid rgba(255, 255, 255, 0);
    }
    #contolBar .na li.active
    {
        transform: scale(1.15);
        border-color: white;
    }
    #contolBar .icon
    {
        float: left;
        background-color: white;
        position: absolute;
        top:45%;
        left:100%;
        width: 7vw;
        height: 7vw;
        text-align: center;
        cursor: pointer;
    }
    #contolBar .icon i
    {
        line-height: 7vw;
        
        font-size: 20px;
    }
    /*************************end Contorlbars********************************/

    /*************************start header********************************/
    #head
    {
        height: 100vh;
        background: url(../imgs/01.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
        
    }
    #head .op
    {
        background-color: rgba(0, 0, 0, 0.562);
        height: 100%;
    }
    #head header
    {
        padding-top: 20px;
        display: flex;
        z-index: 3;
    }
    
    #head header div
    {
        font-size: 24px;
        font-weight: bold;
        width: 100%;
        
    }
    #head .name
    {
        font-family: multi,sans-serif;
        text-transform: capitalize;
    }
    #head li a
    {
        cursor: pointer;
    }
    #head li a:hover
    {
        color:var(--main-color);
    }
   
    #head section
    {
        margin-top: 50vw;
        text-align: center;
        text-transform: capitalize;
    }
    #head section h2
    {
        font-size: 10vw;
    }
    #head section p
    {
        font-size: 20px;
    }
    #head section button
    {
        font-size: 20px;
        padding: 0px 30px;
        height: 40px;
        border: 1px solid var(--main-color);
        background: var(--main-color);
        border-radius: 20px;
        color: white;
        outline:none;
        transition: all .5s ease-in-out ;
    }
    #head .typed
    {
        font-size: 4.5vw;
        margin-bottom: 20px;
        text-transform: capitalize;
        display: inline-block;
    }
    #head .gss
    {
        font-size: 4.5vw;
        color: var(--main-color);
        display: inline-block;
    }
    #head nav .container
    {
        width: 100%;
    }
    #head nav
    {
        padding-left: 0;
        padding-right: 0;
    }
    #head section button:hover
    {
        background: rgba(221, 221, 221, 0);
        color: var(--main-color)
    }
    #head section button i
    {
        margin-left: 20px;
    }
    #gaserr
    {
        
        margin-top: 1vw;
        margin-bottom: -40%;
        width: 100%;
        

    }
    
    /*************************end header********************************/

    /*************************start about********************************/
    #about
    {
        margin-top: 5vw;
        padding-bottom: 50px;
        overflow: hidden;
        padding: 20px 0;
    }
    #about .ab
    {
        
        width: 100%;
        margin-top: 5vw;
        opacity: 1;
        transition: opacity .5s ease-in-out,transform .5s ease-in-out;
    }
    #about .ab h2
    {
        padding-bottom: 6px;
    }
    #about .ab.hide
    {
        opacity: 0;
        transform: translateX(-100px);
    }
    #about .ab h3
    {
        font-size: 30px;
        
    }
    #about .icons 
    {
        margin-top: 30px;
    }
    #about .icons a
    {
        width: 50px;
        height: 50px;
        background: #444;
        border-radius: 50%;
        position: relative;
        float: left;
        margin-right: 3vw;
        margin-bottom: 3vw;
        text-align:center;
        transition: background-color .3s ease-in-out;
    }
    #about .icons a:hover
    {
        background: var(--main-color);
    }
    #about .icons a i
    {
        font-size: 24px;
        text-align:center;
        color: white;
        margin-top: 13px;
    }
    #about .img
    {
        
        width: 90%;
        transition: opacity .5s ease-in-out,transform .5s ease-in-out;
    }
    #about .img.hide
    {
        opacity: 0;
        transform: translateX(100px);
    }
    #about .img img
    {
        width: 100%;
    }
    /*************************end about********************************/

    /*************************start education********************************/
    #education
    {
        background-color: #DDD;
        overflow: hidden;
        
    }
    #education .container
    {
        height: 100%;
        
    }
    #education .items
    {
        width: 100%;
        height: 80%;
        position: relative;
        padding-top: 25px;
    }
    #education .line::before
    {
        content: '';
        width: .3vw;
        height: 77%;
        background-color: var(--main-color);
        position: absolute;
        left:0;
    }
    #education h2
    {
        margin-left: 30px;
        font-size: 30px;
        
        font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
    }
    #education .box
    {
        width: 84%;
        margin: 5vw auto;
        background-color: white;
        position: relative;
    }
    #education .box div
    {
        padding: 4vw;
    }
    #education .box h3
    {
        color:var(--main-color);
        margin-bottom: 0;
        padding-bottom: 0;
        font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
        font-size: 21px;
        text-transform: uppercase;
    }
    #education .box p:first-of-type
    {
        margin-top: 0;
        padding-top: 0;
        font-size: 13px;
    }
    #education .box p:last-of-type
    {
        margin-top: 0;
        padding-top: 0;
        
    }
    #education .box.one div::before
    {
        content: '';
        width: 0;
        height: 0;
        border-top: 2vw solid transparent;
        border-right: 4vw solid white;
        border-bottom: 2vw solid transparent;
        position: absolute;
        left: -3.9vw;
        background-color: #ddd;
        top: 5.5vw;
    }
    #education .box.one::before
    {
        content: '';
        width: 5vw;
        height: 5vw;
        position: absolute;
        border: 2px solid var(--main-color);
        border-radius: 50%;
        left: -9vw;
        background-color: #ddd;
        z-index: 3;
        top: 17px;
    }
    
    #education .box.two div::before
    {
        content: '';
        width: 0;
        height: 0;
        border-top: 2vw solid transparent;
        border-right: 4vw solid white;
        border-bottom: 2vw solid transparent;
        position: absolute;
        left: -3.9vw;
        background-color: #ddd;
        top: 5.5vw;
    }
    #education .box.two::before
    {
        content: '';
    width: 5vw;
    height: 5vw;
    position: absolute;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    left: -9vw;
    background-color: #ddd;
    z-index: 3;
    top: 17px;
    }
    /*************************end education********************************/

    /*************************start services********************************/
    #services
    {
        min-height: 350px;
    }
    #services h2
    {
        padding: 20px 0;
    }
    #services .boxs
    {
        
        overflow: hidden;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        
    }
    #services .box
    {
        padding: 3vw;
        background: #444;
        color: white;
        width: 100%;
        border-radius: 5px;
        min-height:40vw;
        padding-left: 7px;
        transition: transform .5s ease-in-out;
        margin-bottom: 5vw;
    }
    #services .box.hide
    {
        transform:scale(0,0);
    }
    #services .box .icon i.lef
    {
        transform: rotateY(180deg);
    }
    #services .box .icon i
    {
        font-size: 30px;
        color: var(--main-color);
        transition: transform .5s ease-in-out;
        
    }
    #services .box .icon
    {
        float: left;
        margin-top: 15px;
        margin-left: 10px;
        transition: transform .5s ease-in-out;
        
        
    }
    #services  .sel:hover .icon
    {
        transform: rotateY(180deg);
    }
    #services .box .text
    {
        
        margin-top: 15px;
        margin-left: 10px;
        width: 80%;
        padding-left: 3rem;
        
    }
    #services .box .text h3
    {
        font-size: 24px;
    }
    #services .box .text p
    {
        line-height: 1.5;

    }
    /*************************end services********************************/

    /*************************start skills********************************/
    #skills
    {
        padding: 30px 0;
        background-color: #DDD;
        overflow: hidden;
    }
    #skills  h2
    {
        font-size: 35px;
            padding: 20px 0;
        
    }
    #skills .icons
    {
        margin-top: 30px;
    }
    #skills h3
    {
        font-size: 25px;
    }

    #skills i
    {
        
        font-size: 15vw;
        margin: 0 4vw 4vw 0;
        text-align:center;
        color:#868E95;
        
        transition: color .35s ease-in-out;
    }
    #skills i:hover
    {
        color: var(--main-color);
    }
    #skills .icons 
    {
        overflow: hidden;
    }
    #skills .icons div
    {
        
        float: left;
        text-align: left;
        margin-bottom: 5vw;
    }

    #skills .sec
    {
        transition: opacity .5s ease-in-out ,transform .5s ease-in-out;
        opacity: 1;
    }
    #skills .sec.hide
    {
        transform: translateX(-80px);
        opacity: 0;
    }
    /*************************ends skills********************************/

    /*************************start projects********************************/
    #projects
    {
        overflow: hidden;
        padding-bottom: 50px;
    }
    #projects h2
    {
        padding: 10px 0;
    }
    #projects .boxs
    {
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        flex-wrap: wrap;
    }
    #projects .boxs .box
    {
        
        width: 100%;
        height: 43vw;
        position: relative;
        overflow: hidden;
        margin-bottom: 40px;
        transition: transform .5s ease-in-out;
    }
    #projects .boxs .box.hide
    {
        transform: scale(0);
    }
    #projects .boxs .box .image
    {
    position: absolute;
    z-index: 3;
    transition: transform .3s ease-in-out;
    }
    #projects .boxs .box .image.hide
    {
        z-index: 1;
        transform: scale(1.1);
    }
    #projects .boxs .box .details
    {
        width: 100%;
        height: 176px;
        text-align: center;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        background-color:rgba(221, 221, 221, 0.445);
        
        z-index: 2;
    }
    #projects .boxs .box .details a
    {
        transition: background-color .5s ease-in-out,color .5s ease-in-out;
        padding: 15px;
        line-height: 176px;
        border: 1.5px solid var(--main-color);
        font-size: 18px;
        font-weight: bold;
        border-radius: 8px;
        color: var(--main-color);
        cursor: pointer;
        text-decoration: none;
        background: rgba(221, 221, 221, 0.493);
    }
    #projects .boxs .box .details a:hover
    {
        color: rgb(0, 0, 0);
        background-color: var(--main-color);

    }
    #projects .boxs .box:hover .image
    {
        z-index: 1;
        transform: scale(1.1);
    }
    #projects .boxs .box .image.hide
    {
        z-index: 1;
        transform: scale(1.1);
    }
    #projects .boxs .box img
    {
        width: 100%;
    }
    /*************************ends projects********************************/
    /*************************start ach********************************/
    #achivments
    {
        position: relative;
        padding-top: 80px;
        padding-bottom: 80px;

    }
    #achivments h2
    {
        padding-bottom: 10px;
    }
    #achivments .ac
    {
        position: relative;
    z-index: 2;
    }
    #achivments::before
    {
        content: '';
        width: 50%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: var(--main-color);
        height: 100%;
    }
    #achivments::after
    {
        
        content: '';
        width: 50%;
        position: absolute;
        right: 0;
        top: 0;
        background-color: #333;
        height: 100%;
    }
    #achivments .ac .boxs
    {
        overflow: hidden;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    #achivments .ac .box
    {
        
        padding-top: 3vw;
        background: white;
        color: white;
        width: 100%;
        border-radius: 5px;
        min-height:40vw;
        padding-left: 7px;
        z-index: 2;
        position: relative;
        padding:20px;
        transition: transform .5s ease-in-out;
        margin-bottom: 5vw;
    }
    #achivments .ac .box.hide
    {
        transform:scale(0,0);
    }
    #achivments .ac .box i
    {
        font-size: 40px;
        color: var(--main-color);
        position: absolute;
        left: 47%;
        top: 20px;
    }
    #achivments .ac .box p
    {
        margin-top: 80px;
        color: #707070;
    }
    /*************************end ach********************************/
    /*************************start contact********************************/
    #contact
    {
        background: url(../imgs/contact.png);
        background-size: cover;
        overflow: hidden;
    }
    #contact .op
    {
        background-color: rgba(255, 255, 255, 0.603);
        overflow: hidden;
    }
    #contact .cont
    {
        padding-top: 50px;
        width: 90%;
        margin: auto;
        text-align: center;
        overflow: hidden;
        padding-bottom: 150px ;
    }
    #contact .cont form
    { 
        overflow: hidden;
    }
    #contact .cont div
    {
        margin: auto;
        width: 90%;
    }
    #contact .cont .tex
    {
        
        width: 90%;
        margin: auto;
    }
    #contact .cont div input
    {
        display: block;
        width: 100%;
        background:rgba(0, 0, 0, 0.068);
        border: 1px solid rgb(179, 179, 179);
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 3px;
    }
    #contact .cont div .but
    {
        display: block;
        width: 100%;
        float: right;
        background-color: var(--main-color);
        color: white;
    }
    #contact .cont div textarea
    {
        background:rgba(0, 0, 0, 0.068);
        width: 100%;
        float: right;
        resize: vertical;
        height: 130px;
        margin-bottom: 20px;
    }
    #contact .cont .boxs
    {
        margin-top: 50px;
        display: flex;
        justify-content: space-around;
        overflow: hidden;
        flex-wrap: wrap;
        width: 100%;
    }
    #contact .cont .box 
    {
        position: relative;
    }
    #contact .cont .box .l
    {
        background-color: black;
        width: 1px;
        height: 70px;
        position: absolute;
        left: 17.5vw;
    }
    #contact .cont .boxs .box
    {
        width: 100%;
        overflow: hidden;
        
        
        text-align: left;
        padding: 20px;
    }
    #contact .cont .boxs .box i
    {
        float: left;
        margin-right: 12px;
        margin-top: 15px;
        font-size: 35px;
        color: var(--main-color);
    }
    #contact .cont .boxs .box p
    {
        margin-top: 0;
        padding-left: 19vw;
        color: rgb(117, 116, 116);
        font-size: 12px;
    }
    #contact .cont .boxs .box p:first-of-type
    {
        font-weight: bold;  
        font-size: 15px;
        color: var(--main-color);
        
    }
    /*************************end contact********************************/

    /*************************start footer********************************/
    footer
    {
        background-color: #444;
        color: white;
        text-align: center;
        overflow: hidden;
        height: 11vw;
    }
    footer p
    {
        line-height: 11vw;
    }
    /*************************end footer********************************/
}