@import "../config";
#cv{
    @include easeOut;
    a{
        color:black;
        text-decoration: none;

    }
    button{
        @include easeOut;
        border-radius: 30px;
        font-size: 13px;
        padding: 17px 25px;
        width: 200px;
        text-transform: capitalize;
        
    }
}