 @import "../config";
 /*************************start education********************************/
 #education
 {
    @include easeOut;
     height: 520px;
     overflow: hidden;
 }
 #education .container
 {
     height: 100%;
     overflow: hidden;
 }
 #education .items
 {
     width: 100%;
     height: 80%;
     position: relative;
     padding-top: 0;
 }
 #education .line::before
 {
     content: '';
     width: 3px;
     height: 110%;
     background-color: var(--main-color);
     position: absolute;
     left:50%
 }

 #education .box
 {
     width: 47%;
     margin-top: 50px;
     background-color: white;
     position: relative;
 }
 #education .box div
 {
     padding: 20px;
 }
 #education .box h3
 {
     margin-bottom: 0;
     padding-bottom: 0;
     font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
     font-size: 21px;
     text-transform: uppercase;
 }
 #education .box p:first-of-type
 {
     margin-top: 0;
     padding-top: 0;
     font-size: 13px;
 }
 #education .box p:last-of-type
 {
     margin-top: 0;
     padding-top: 0;
     
 }
 #education .box.one div::before
 {
     content: '';
     width: 0;
     height: 0;
     border-top: 10px solid transparent;
     border-left: 20px solid white;
     border-bottom: 10px solid transparent;
     position: absolute;
     left: 100%;
 }
 #education .box.one::before
 {
     content: '';
     width: 20px;
     height: 20px;
     position: absolute;
     border: 2px solid var(--main-color);
     border-radius: 50%;
     left: 104.5%;
     background-color: #fff;
     z-index: 3;
     top:17px;
 }
 #education .box.two
 {
     float: right;
 }
 #education .box.two div::before
 {
     content: '';
     width: 0;
     height: 0;
     border-top: 10px solid transparent;
     border-right: 20px solid white;
     border-bottom: 10px solid transparent;
     position: absolute;
     left: -3.8%;
 }
 #education .box.two::before
 {
     content: '';
     width: 20px;
     height: 20px;
     position: absolute;
     border: 2px solid var(--main-color);
     border-radius: 50%;
     left: -8.1%;
     background-color: #fff;
     z-index: 3;
     top:17px;
 }
 /*************************end education********************************/



 @include mediaMd{
 /*************************start education********************************/
    
    #education .line::before
    {
        left:0;
    }

    #education .box
    {
        width: 84%;
        margin: 5vw auto;
    }
    #education .box div
    {
        padding: 4vw;
    }

    #education .box.one div::before
    {
        border-top: 2vw solid transparent;
        border-right: 4vw solid ;
        border-left:none;
        border-bottom: 2vw solid transparent;
        position: absolute;
        left: -3.9vw;
        top: 5.5vw;
    
    }
    #education .box.one::before
    {
        width: 5vw;
        height: 5vw;
        left: -9vw;
        z-index: 3;
    }
    
    #education .box.two div::before
    {
       
        border-top: 2vw solid transparent;
        border-right: 4vw solid white;
        border-bottom: 2vw solid transparent;
        position: absolute;
        left: -3.9vw;
        top: 5.5vw;
    }
    #education .box.two{
        float: none;
    }
    #education .box.two::before
    {
        
        width: 5vw;
        height: 5vw;
        left: -9vw;

    }
    /*************************end education********************************/

}